.orange {
	color: orange;
}

/* Profile */
.profile {
	width: 300px;
	text-align: center;
	background-color: #ebebeb;
	box-shadow: 11px 11px 18px -4px rgba(0, 0, 0, 0.36);
	-webkit-box-shadow: 11px 11px 18px -4px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 11px 11px 18px -4px rgba(0, 0, 0, 0.36);
	padding: 1rem;
	border-radius: 20px;
	margin-bottom: 1rem;
	position: relative;
}

.photo {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

/* Avartar */
.avatar {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.new {
	background-color: aqua;
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;
	position: absolute;
	top: 10%;
	left: 70%;
	font-weight: bold;
}

/* Counter */
.container {
	width: 500px;
	margin: auto;
}
.counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid rgb(215, 217, 12);
	border-radius: 1rem;
	margin: 2rem;
	padding: 1rem;
}
.counter:hover {
	background-color: rgb(246, 243, 197);
}
.number {
	font-size: 7rem;
	margin: 0;
}
.button {
	font-size: 2rem;
	cursor: pointer;
	background: rgb(215, 217, 12);
	background: linear-gradient(
		90deg,
		rgba(215, 127, 12, 1) 0%,
		rgba(253, 220, 29, 1) 100%
	);
	border-radius: 0.5rem;
	padding: 0.2rem 1rem;
	margin: 1rem;
}
.banner {
	text-align: center;
	font-weight: bold;
	background-color: gold;
	font-size: 2rem;
	margin-top: 5rem;
}
.total {
	font-size: 1rem;
}
